* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* MENU */
.nav-main {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #D49718;
}

.logo {
    
}

.logo a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.logo a:hover {
    color: #343434;
}

.search {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    display: flex;
}

.search-bar {
    border: none;
    width: 95%;
}

.search-bar:focus {
    outline: none;
}

.search a {
    color: #343434;
    font-weight: bold;
}

.btn-menu {
    display: none;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.menu li a:hover {
    color: #343434;
}

/* TEXT HEADER */
.text-header {
    height: 550px;
    background: linear-gradient(to bottom,
    rgba(255,255,255, 0.1),
    rgba(0,0,0, 0.9)
    ), url(../img/fondo-ps4.jpg)no-repeat bottom/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.text-header h2 {
    margin: 20px 0;
    color: #fff;
}

.text-header a {
    text-decoration: none;
    margin-bottom: 40px;
    background-color: #343434;
    color: #fff;
    padding: 10px;
    border: 2px solid rgba(255,255,255, 0.5);
}

.text-header a:hover {
    background-color: #454545;
}

/* MAIN */
.main {
    height: 100%;
    width: 100%;
    background-color: #cecece;
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: #D49718;
    margin: 50px auto;
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.formulario select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.formulario input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #3D8DB1;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}

.formulario input[type="text"]:focus {
    outline: none;
}

.formulario select:focus {
    outline: none;
}

.formulario input[type="submit"]:focus {
    outline: none;
}

.formulario input[type="submit"]:hover {
    background-color: #49A3CC;
}

/* FOOTER */
.footer {
    background-color: #D49718;
    color: #343434;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 0;
}