* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* MENU */
.nav-main {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #D49718;
}

.logo {
    
}

.logo a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.logo a:hover {
    color: #343434;
}

.search {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    display: flex;
}

.search-bar {
    border: none;
    width: 95%;
}

.search-bar:focus {
    outline: none;
}

.search a {
    color: #343434;
    font-weight: bold;
}

.btn-menu {
    display: none;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.menu li a:hover {
    color: #343434;
}

/* TEXT HEADER */
.text-header {
    height: 550px;
    background: linear-gradient(to bottom,
    rgba(255,255,255, 0.1),
    rgba(0,0,0, 0.9)
    ), url(../img/fondo-ps4.jpg)no-repeat bottom/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.text-header h2 {
    margin: 20px 0;
    color: #fff;
}

.text-header a {
    text-decoration: none;
    margin-bottom: 40px;
    background-color: #343434;
    color: #fff;
    padding: 10px;
    border: 2px solid rgba(255,255,255, 0.5);
}

.text-header a:hover {
    background-color: #454545;
}

/* MAIN */
.main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    background-color: #cecece;
    padding: 1em;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.producto img {
    width: 100%;
    height: 250px;
}

.btn-comprar {
    background-color: #D49718;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.btn-comprar:hover {
    background-color: #CD992D;
}

/* FOOTER */
.footer {
    background-color: #D49718;
    color: #343434;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 0;
}

@media (max-width: 1200px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 706px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}